.pnp.*
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
dist/
.turbo/
.docker/
coverage/
*.log
node_modules/
.env
!apps/*/docker/.env

/codex_clone/

volume/
apps/ndx/docker/baseImage/out/
*.tar
.claude/
